################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenCL.Tensor/v15
/Examples/OpenCL.Tensor.Testing/bin/Debug/netcoreapp2.2
/Examples/OpenCL.Tensor.Testing/obj
/OpenCL.Tensor/.vs/OpenCL.Tensor/v16
/OpenCL.Tensor/bin/Debug/netstandard2.0
/OpenCL.Tensor/obj
/.vs/System.ArrayExtension/v16
/ArrayExt.Accel.Testing/bin/Debug/netcoreapp2.2
/ArrayExt.Accel.Testing/obj
/System.ArrayExtension.Accelerated/bin/Debug/netstandard2.0
/System.ArrayExtension.Accelerated/obj/Debug/netstandard2.0
/System.ArrayExtension.Accelerated/obj
